<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Spellbook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    {% for page in pages %}
    {{ page }}
    {% endfor %}
</body>
</html>
